.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

.vocabulary {
  margin: 10px 0;
}

.phonetic {
  margin: 0;
}

.grammar {
  margin: 10px 0 10px 0;
}

.definitions {
  position: relative;
}

.definitions > p {
  margin: 0 0 20px 0;
  padding-left: 25px;
}

.blue {
  color: blue;
  position: absolute;
  left: 0px;
}

.profileImg {
  margin-top: 5%;
  width: 75%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about {
    /* padding: 10% 5%; */
  }

  .vocabulary {
    font-size: 28px;
  }

  .profileImg {
    width: 30%;
    height: auto;
  }
}
