.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border-bottom: 1px solid rgba(78, 77, 77, 0.274); */

  /* Dark Mode */
  border-bottom: 1px solid whitesmoke;
}

.vocabulary {
  margin: 10px 0;
}

.phonetic {
  margin: 0;
}

.grammar {
  margin: 10px 0 10px 0;
}

.definitions {
  position: relative;
  width: 90%;
  /* margin: 0 20px; */
}

.definitions > p {
  margin: 0 0 20px 0;
  padding-left: 25px;
}

.blue {
  color: white;
  position: absolute;
  left: 0px;
}

.profileImg {
  margin-top: 15px;
  width: 250px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .vocabulary {
    font-size: 28px;
  }
  .phonetic {
    font-size: 20px;
  }
  .grammar,
  .definitions {
    font-size: 18px;
  }

  .profileImg {
    margin-top: 20px;
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .profileImg {
    width: 400px;
    height: auto;
  }
}
