.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
  box-sizing: border-box;
  /* border-bottom: 1px solid rgba(78, 77, 77, 0.274); */

  /* Dark Mode */
  border-bottom: 1px solid white;
}

.vocabulary {
  margin: 10px 0;
}

.phonetic {
  margin: 0;
}

.grammar {
  margin: 10px 0 10px 0;
}

.definitions {
  position: relative;
  width: 80%;
  /* margin: 0 20px; */
}

.definitions > p {
  margin: 0 0 20px 0;
  padding-left: 25px;
}

.blue {
  color: white;
  position: absolute;
  left: 0px;
}

.profileImg {
  margin-top: 15px;
  width: 300px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .vocabulary {
    font-size: 28px;
  }

  .profileImg {
    margin-top: 20px;
    width: 400px;
    height: auto;
  }
}
