.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

/* Contact Form */
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 15px;
}

.contactLabel {
  margin: 10px;
}

.contactInfo,
.contactMessage {
  font-size: 20px;
  background-color: rgb(209, 207, 207);
  padding: 5px;
  width: 100%;
}

.contactInfo {
  border: none;
  height: 50px;
}

.contactMessage {
  resize: none;
  height: 200px;
}

.contactBtn {
  cursor: pointer;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
}

.contactBtn:hover {
  color: blue;
}

@media screen and (min-width: 768px) {
  .contactForm {
    width: 600px;
    height: 400px;
  }

  .contactInfo {
    width: 70%;
    height: 25px;
  }

  .contactMessage {
    width: 70%;
  }

  .title {
    font-size: 28px;
  }
}
