.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 40px;
}

.contactInfo {
  width: 100%;
  resize: none;
}

.contactBtn {
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 10% 5%;
  }

  .title {
    font-size: 28px;
  }
}
