.contact {
  height: 85vh;
  width: 60%;
}

.profileImg {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 10% 5%;
  }

  .title {
    font-size: 28px;
  }
}
