.footerContainer {
  width: 100vw;
  background-color: white;
  border-top: 1px solid rgba(78, 77, 77, 0.274);
  /* background-repeat: repeat; */
  /* background-attachment: scroll; */
  /* background-position: 0% 0%; */
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
