.footerPush {
  height: 6vh;
  position: relative;
  bottom: 0;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 6vh;
  background-color: whitesmoke;
  /* border-top: 1px solid rgba(78, 77, 77, 0.274); */
  position: fixed;
  bottom: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* Dark Mode */
  /* background-color: black; */
}

/* Social Icon Hover Effect */
.iconContainer {
  position: relative;
  width: 28px;
  height: 32px;
}

.socialIcons {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}

/* .socialIcons:hover {
  -webkit-box-shadow: 0px 0px 2px 2px inset rgb(39, 39, 223);
  box-shadow: 0px 0px 2px 2px inset rgb(39, 39, 223);
  color: blue;
} */

.sweepToRight {
  position: absolute;
  color: blue;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.iconContainer:hover .sweepToRight {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footerContainer,
  .footerPush {
    height: 8vh;
  }
}

/* @media screen and (min-width: 1024px) {
  .footerContainer,
  .footerPush {
    height: 6vh;
  }
} */
