.headerContainer {
  background-color: white;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 1;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.pageTitle {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  margin: 10px 0;
}

.pageTitle:hover {
  cursor: pointer;
}

.space {
  margin-left: 10px;
}

.links {
  text-decoration: none;
  color: black;
  margin: 0px 15px;
}

.links:hover {
  color: blue;
}

.pipes {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pageTitle {
    font-size: 36px;
    font-weight: 900;
  }

  .navBar {
    font-size: 20px;
  }

  .pipes {
    font-size: 30px;
  }
}
