.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
  padding: 0 5%;
  box-sizing: border-box;
  width: 100vw;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

.vocabulary {
  margin-bottom: 0;
}

.phonetic {
  margin: 10px 0;
}

.grammar {
  margin: 0 0 20px 0;
}

.definitions {
  position: relative;
}

.definitions > p {
  margin: 0 0 20px 0;
  padding-left: 25px;
}

.blue {
  color: blue;
  position: absolute;
  left: 0px;
}

@media screen and (min-width: 768px) {
  .landing {
    padding: 10% 5%;
  }

  .vocabulary {
    font-size: 28px;
  }
}
