@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import "header.css";
@import "landing.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  /* box-sizing: border-box; */
}

.contentContainer {
  /* padding-top: 60px;
  padding-bottom: 40px; */
  height: 85vh;
}
/* .mainContainer {
  width: 100%;
} */

/* .headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.pageTitle {
  font-size: 36px;
  font-weight: 900;
} */

.links {
  text-decoration: none;
  color: black;
  margin: 0px 15px;
}

.links:hover {
  color: blue;
}
/* 
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* h3 > .title {
  align-items: flex-start;
} */

.contact {
  width: 60%;
}

.blackout {
  width: 300px;
  height: 200px;
}

.profileImg {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 768px) {
}
