.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border-bottom: 1px solid rgba(78, 77, 77, 0.274);
}

.blackout {
  width: 300px;
  height: 200px;
}

.githubIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.title {
  /* margin: 0; */
}

@media screen and (min-width: 768px) {
  .projects {
  }

  .projectCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
  }

  .title {
    font-size: 28px;
  }
}
