.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  /* border-bottom: 1px solid rgba(78, 77, 77, 0.274); */

  /* Dark Mode */
  border-bottom: 1px solid whitesmoke;
}

.title {
  margin: 10px;
  padding: 40px;
}

.projectCarousel {
  max-width: 1000px;
  margin: 0;
  padding: 20px;
}

/* .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
} */

.projectContainer {
  position: relative;
  height: 200px;
  width: 300px;
}

.overlay {
  color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 300px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.projectContainer:hover .overlay,
.projectContainer:active .overlay {
  opacity: 1;
}

.projectPicture {
  width: 300px;
  height: 200px;
}

.projectTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.projectTech {
  color: rgb(39, 39, 223);
  font-size: 12px;
  margin: 0;
}

.projectText {
  text-align: center;
  margin: 0 8px;
}

.projectBtnContainer {
  text-align: center;
  width: 80%;
}

.projectBtn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid rgb(39, 39, 223);
  color: rgb(39, 39, 223);
  text-decoration: none;
  padding: 10px;
  margin: 0px 10px;
  width: 30%;
}

.projectBtn:hover {
  color: white;
  background-color: rgb(39, 39, 223);
  -webkit-box-shadow: 2px 2px 2px 2px rgb(39, 39, 223);
  box-shadow: 2px 2px 2px 2px rgb(39, 39, 223);
}

.projectItem {
  display: none;
  position: relative;
  padding: 10px;
}

.projectNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  /* position: relative; */
}

.previousBtn,
.nextBtn {
  cursor: pointer;
  /* position: absolute; */
  width: auto;
  /* color: black; */
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  border-radius: 3px 3px 3px 3px;
  padding: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Dark Mode */
  color: white;
}

.nextBtn {
  right: 0;
  border-radius: 3px 3px 3px 3px;
  padding: 3px;
}

.previousBtn:hover,
.nextBtn:hover {
  background-color: #fff;
  /* background-color: #bbb; */
  color: rgb(39, 39, 223);
}

.dotContainer {
  text-align: center;
  font-size: 14px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: #bbb; */
  background-color: rgb(39, 39, 223);
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  /* background-color: #717171; */
  background-color: rgb(45, 151, 250);
  border: white;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    margin: 10px;
    padding: 10px;
  }

  .projectContainer,
  .overlay,
  .projectPicture {
    width: 600px;
    height: 400px;
  }

  .projectTitle {
    font-size: 24px;
  }

  .projectTech {
    font-size: 16px;
  }

  .projectText {
    font-size: 20px;
  }

  .previousBtn,
  .nextBtn,
  .dotContainer {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  /* .title {
    font-size: 28px;
    margin: 10px;
    padding: 10px;
  }

  .projectContainer,
  .overlay,
  .projectPicture {
    width: 600px;
    height: 400px;
  }

  .projectTitle {
    font-size: 24px;
  }

  .projectTech {
    font-size: 16px;
  }

  .projectText {
    font-size: 20px;
  }

  .previousBtn,
  .nextBtn,
  .dotContainer {
    font-size: 28px;
  } */
}
